body {
    font-family: 'Tilt Warp', sans-serif;
    background-color: #0d024d;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #f8f8f8;
}

button {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    font-family: 'Tilt Warp', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px auto;
    display: block;
}

button:hover {
    background-color: #0056b3;
}
